name: Deployment
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  release:
    types: [published]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "pyproject.toml"

      - name: Install uv
        uses: astral-sh/setup-uv@v6

      - name: Prepare environment
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          AWS_DEFAULT_REGION: eu-central-1
        run: |
          REPOSITORY_TOKEN=$(aws codeartifact get-authorization-token --domain matdue --domain-owner 512206508224 --query authorizationToken --output text)
          echo "::add-mask::$REPOSITORY_TOKEN"
          REPOSITORY_URL=$(aws codeartifact get-repository-endpoint --domain matdue --domain-owner 512206508224 --repository common --format pypi --query repositoryEndpoint --output text)
          PIP_REPOSITORY=https://aws:${REPOSITORY_TOKEN}@${REPOSITORY_URL:8}simple/
          echo "UV_PUBLISH_USERNAME=aws" >> $GITHUB_ENV
          echo "UV_PUBLISH_PASSWORD=$REPOSITORY_TOKEN" >> $GITHUB_ENV
          echo "UV_PUBLISH_URL=$REPOSITORY_URL" >> $GITHUB_ENV
          echo "UV_DEFAULT_INDEX=$PIP_REPOSITORY" >> $GITHUB_ENV

      - name: Install dependencies
        run: |
          uv sync --all-extras
          uv pip install -e .[aws]

      - name: Run unit tests
        run: |
          uv run -m unittest discover -v

      - name: Deploy
        if: github.event_name == 'release'
        run: |
          uv build
          uv publish
